<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honey"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:name="com.honey.common.MyApp"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/finance"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.honey.activity.payee.AddPayeeActivity"
            android:label="@string/title_activity_add_payee" >
        </activity>
        <activity
            android:name="com.honey.activity.payee.EditPayeeActivity"
            android:label="@string/title_activity_edit_payee" >
        </activity>
        <activity
            android:name="com.honey.activity.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.honey.activity.payee.PayeeListActivity"
            android:label="@string/title_activity_view_payee_list" >
        </activity>
        <activity
            android:name="com.honey.activity.payee.PayeeDetailActivity"
            android:label="@string/title_activity_payee_detail" >
        </activity>
        <activity
            android:name="com.honey.activity.history.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="com.honey.activity.history.EditEntryActivity"
            android:label="@string/title_activity_edit_entry" >
        </activity>
        <activity
            android:name="com.honey.activity.history.AddEntryActivity"
            android:label="@string/title_activity_add_entry" >
        </activity>
        <activity
            android:name="com.honey.activity.history.RecentHistoryActivity"
            android:label="@string/title_activity_recent_history" >
        </activity>
        <activity
            android:name="com.honey.activity.MoreAppsActivity"
            android:label="@string/title_activity_more_apps" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

</manifest>
