.DS_Store
.gradle/1.6/taskArtifacts/cache.properties
.gradle/1.6/taskArtifacts/cache.properties.lock
*.bin
.idea*
*/debug/*
Honey/Honey.apk
Honey/Honey.iml
Honey/build/apk/Honey-debug-unaligned.apk
*.class
Honey/build/*
Honey/build/incremental/aidl/debug/dependency.store
Honey/build/incremental/aidl/debug/inputs.data
Honey/build/incremental/aidl/debug/outputs.data
Honey/build/incremental/dex/debug/inputs.data
Honey/build/incremental/dex/debug/outputs.data
Honey/build/incremental/mergeAssets/debug/inputs.data
Honey/build/incremental/mergeAssets/debug/merger.xml
Honey/build/incremental/mergeAssets/debug/outputs.data
Honey/build/incremental/mergeResources/debug/inputs.data
Honey/build/incremental/mergeResources/debug/merger.xml
Honey/build/incremental/mergeResources/debug/outputs.data
